Log {
    height: 0.2fr;
    width: 1fr;
    border: round orange;
    margin: 0 0;
}
DirectoryBrowser {
    border: round green;
}

.settingsform-input {
    border: solid blue;
}
#file-selector-container {
    border: round blue;
    height: 0.85fr;
}
#file-selector-buttonbar{
    border: round purple;
    height: 0.15fr;
}
.file-selector-checkbox {
    padding: 0;
    margin:0;
}
.file-selector-checkbox-mediafile{
    border: solid green;
}
.browser-button-move {
    margin-right:1;
}

#parser-button-bar{
    height: 0.15fr;
    border: solid orange;
}
#parser-top-container{
    height:0.85fr;
    width:1fr;
}
#parser-left-column{
    width:0.4fr;
    height: 1fr;
    border: round purple;
}
#parser-right-column{
    width:0.6fr;
    height: 1fr;
    border: round blue;
}
.parser-input{
    border: solid green;
}
.parser-file-fieldgroup{
    height: 4;
    width: 0.9fr;
}

#confirm-top-container{
    height: 0.85fr;
    border: solid blue;
}
#confirm-button-bar{
    height: 0.15fr;
    border: solid orange;
}