Log {
    height: 0.2fr;
    width: 1fr;
    border: round orange;
    margin: 0 0;
}
DirectoryBrowser {
    border: round green;
}
#file-selector-container {
    border: round blue;
    height: 0.85fr;
}
#file-selector-buttonbar{
    border: round purple;
    height: 0.15fr;
}
.file-selector-checkbox {
    padding: 0;
    margin:0;
}
.file-selector-checkbox-mediafile{
    border: solid green;
}
.browser-button-move {
    margin-right:1;
}

#mover-button-bar{
    height: 0.15fr;
    border: solid orange;
}
#mover-top-container{
    height:0.85fr;
    width:1fr;
}
#mover-left-column{
    width:0.4fr;
    height: 1fr;
    border: round purple;
}
#mover-right-column{
    width:0.6fr;
    height: 1fr;
    border: round blue;
}
.mover-input{
    border: solid gray;
}
.mover-file-fieldgroup{
    height: 4;
    width: 0.9fr;
}

#destination-top-container{
    height: 0.85fr;
    border: solid blue;
}
#destination-button-bar{
    height: 0.15fr;
    border: solid orange;
}